$colorGreen: #70C05B;
$font:  'Rubik', sans-serif;
button{
    cursor: pointer;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 72px;
    z-index: 1;
    position: absolute;
    background: #fff;
    top: 0;
    font-family: $font;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1) !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .inform {
        width: 1208px;
        height: 72px;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }   
    .search{
        margin-left: -15px;
        width: 375px;
        height: 40px;
        position: relative;
        input{
            width: 375px;
            font-size: 16px;
            height: 40px;
            border: 1px solid $colorGreen;
            padding: 0px 15px 0px 15px;
            border-radius: 4px;
            &:focus{
                outline: #70C05B;
            }
        }
        svg{
            position: absolute;
            z-index: 1;
            right: 10px;
            background-color: rgb(255, 255, 255);
            top: 8px;
            cursor: pointer;
        }
    }
        .catalog button{
            width: 140px;
            border: none;
            border-radius: 4px;
            color: white;
            height: 40px;
            display: flex;
            padding: 10px 25px 10px 10px;
            flex-direction: row;
            justify-content: space-between;
            background-color: $colorGreen;
            align-items: center;
            h3{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;

            }
        }
        .profile{
            width: 201px;
            padding: 10px;
            height: 56px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .profileName{
                margin-left: -50px;
                h3{
                    font-size: 16px;
                    font-weight: 200;

                }
            }
        }
        .btns{
            width: 230px;
            height: 72px;
            display: flex;
            align-items: center;
            font-size: 12px;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            .loveBtn{
                width: 65px;
                height: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content:space-between;
                a{
                    color: #414141;
                    line-height: 23px;
                    text-decoration: none;
                    h3{
                        font-weight: 400;
                    }
                }
            }
            .orderBtn{
                width: 42px;
                height: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content:space-between;
                a{
                    color: #414141;
                    line-height: 20px;
                    text-decoration: none;
                    h3{
                        font-weight: 400;
                    }
                }
            }
            .basketBtn{
                width: 49px;
                height: 50px;
                display: flex;
                flex-direction: column;
                position: relative;
                align-items: center;
                justify-content:space-between;
                #numberOfCor{
                    position: absolute;
                    font-size: 9px;
                    display: flex;
                    flex-direction: row;
                    left: 22px;
                    color: white;
                    justify-content: center;
                    align-items: center;
                    width: 12px;
                    height: 12px;
                    top: -2px;
                    border-radius: 4px;
                    background: #FF6633;
                }
                a{
                    line-height: 20px;
                    color: #FF6633;
                    text-decoration: none;
                    h3{
                        font-weight: 400;
                    }
                }
            }
    }}
.corzine{
    width: 100%;
    color: #414141;
    font-family: $font;
    padding:  100px 116px 0px 116px;
    height: 120vh;
    background: #FBF8EC;
    .orderOfPages{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
        width: 180px;
        h3{
            font-weight: 400;
            color: #414141;
        }
        #currentPage{
            color: #8F8F8F;
        }
        #greater{
            font-size: 20px;
        }
        }
    .titleOfPage{
        height: 150px;
        display: flex;
        align-items: center;
        h1{
            font-size: 64px;
            color: #414141;
            font-family: $font;
            font-weight: 800;
        }
        span{
            width: 26px; 
            height: 32px;
            border-radius: 4px;
            display: flex;
            flex-direction: row;
            margin-left: 30px;
            margin-top: -45px;
            align-items: center;
            justify-content: center;
            color: white;
            background: #FF6633;
        }

    }
    .info{
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .corzine_1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 300px;
            margin-bottom: 50px;
            .checking{
                font-size: 12px;
                display: flex;
                flex-direction: row;
                width: 110px;
                align-items: center;
                justify-content: space-between;
                font-weight: 400;
                input{
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                }
            }
            .deleting{
                button{
                color: #FF6633;
                border: none;
                background: transparent;
            }}
        }
        .corzine_2{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .corzine_2_1{
                width: 876px;
                height: 360px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .block{
                    position: relative;
                    width: 876px;
                    align-items: center;
                    height: 72px;
                    background: white;
                    display: flex;
                    border-radius: 4px;
                    flex-direction: row;
                    justify-content: space-between;
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
                    &:last-child{
                       opacity: 60%;
                    }
                    img{
                        height: 60px;
                        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
                        border-radius: 4px;
                    }
                    input{
                        width: 24px;
                        position: absolute;
                        left: 5px;
                        height: 24px;
                        top: -10px;
                    }
                    &_1{
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        width: 460px;
                        justify-content: space-between;
                        .inf{
                            display: flex;
                            justify-content: space-between;
                            height: 60px;
                            padding-top: 10px;
                            flex-direction: column;
                            .name{
                                 h3{
                                    font-size: 16px;
                                    font-weight: 400;
                                 }
                            } 
                            .sena{
                                display: flex;
                                width: 80px;
                                flex-direction: row;
                                justify-content: space-between;
                                h3{
                                    font-size: 12px;
                                    font-weight: 700;
                                }
                                span{
                                    font-size: 12px;
                                    color: #606060;
                                }
                            }
                        }
                    }
                }
                }
                    &_2{
                        width: 200px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-start;
                       
                        .amount{
                           width: 100px;
                           background: $colorGreen;
                           height: 40px;
                           display: flex;
                           border-radius: 4px;
                           flex-direction: row;
                           justify-content: center;
                           align-items: center;
                            button{
                                width: 33px;
                                border: none;
                                border-radius: 4px;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                color: #fff;
                                height: 40px;
                                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                font-size: 30px;
                                background: $colorGreen;
                                h3{
                                    font-weight: 200;
                                }
                            }
                            span{
                                width: 33px;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                height: 40px;
                                background: $colorGreen;
                                color: white;
                            }
                        }
                        .priceWAmount{
                            text-align: center;
                            width: 100px;
                            span{
                                font-weight: 500;
                                font-size: 16px;
                            }
                          
                        }
                    }
                    
        }
    }
}
.right{
    width: 300px;
    height: 450px;
    display: flex;
    padding: 0px 0px 100px 0px;
    flex-direction: column;
    justify-content: space-between;
    .cs{
        width: 250px;
        height: 70px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        span{
            color: #8F8F8F;
            font-size: 16px;
        }
    .card{
           width: 170px;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .switch {
                position: relative;
                display: inline-block;
                width: 46px;
                border-radius: 49px;
                height: 24px;
              }
              
              .switch input {
                opacity: 0;
                width: 0;
                height: 0;
              }
              
              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .3s;
                transition: .3s;
              }
              
              .slider:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 3px;
                bottom: 2px;
                background-color: white;
                -webkit-transition: .3s;
                transition: .3s;
              }
              
              input:checked + .slider {
                background-color:$colorGreen;
              }
              
              input:focus + .slider {
                box-shadow: 0 0 1px $colorGreen;
              }
              
              input:checked + .slider:before {
                -webkit-transform: translateX(21px);
                -ms-transform: translateX(21px);
                transform: translateX(21px);
              }
              
              .slider.round {
                border-radius: 34px;
              }
              
              .slider.round:before {
                border-radius: 50%;
              }
        }
    }
    .informs{
        width: 272px;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_1{
            width: 272px;
            height: 20px;
            color: #414141;
            display: flex;
            align-items: center;
            font-size: 16px;
            flex-direction: row;
            justify-content: space-between;
            h3{
               font-weight: 400;
            }
            span{
                color: #8F8F8F;
            }
        }
        
        &_2{
            width: 272px;
            font-size: 16px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            height: 20px;
            span{
                color: #8F8F8F;
            }
            h3{
                font-weight: 700;
                color: #FF6633;
            }
        }}
        .ikki{
            width: 272px;
            height: 50px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            .bonus{
                width: 201px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 15px;
                height: 32px;
                span{
                    color: $colorGreen;
                    font-size: 12px;
                }
                .yarim{
                    width: 20px;
                    height: 10px;
                    border-radius: 0px 0px 150px 150px;
                    background: $colorGreen;
                }
            }
            .overAll{
                width: 272px;
            height: 40px;
            display: flex;
            flex-direction: row;
            font-size: 16px;
            align-items: center;
            justify-content: space-between;
            span{
                color: #8F8F8F;
            }
            h3{
                font-weight: 900;
                font-size: 24px;
                color: #414141;
            }
        }
    }
    .order{
        button{
            width: 272px;
height: 60px;

font-size: 24px;
border: none;
color: #FF6633;
background: #FCD5BA;
border-radius: 4px;
        }
    }
}


input[type = 'checkbox']{
    cursor: pointer;
}